<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  
</div>



<table>
  <caption>TIME TRACKER</caption>

<tr>
    <th>Day of the Week</th>
    <th>Time In</th>
    <th>Out for Lunch</th>
    <th>In from Lunch</th>
    <th>Out for the Day</th>
    <th>Hours Worked</th>  
  </tr>
  <tr>
    <td>Monday</td>
    <td><input type='text'></td>
    <td>12:00 PM</td>
    <td>1:00 PM</td>
    <td>5:00 PM</td> 
    <td>8.0</td>
  </tr>
  <tr>
    <td>Tuesday</td>
    <td>8:00 AM</td>
    <td>12:00 PM</td>
    <td>1:00 PM</td>
    <td>5:00 PM</td>
     <td>8.0</td>
  </tr>
  <tr>
  <td>Wednesday</td>
    <td>8:00 AM</td>
    <td>12:00 PM</td>
    <td>1:00 PM</td>
    <td>5:00 PM</td>
    <td>8.0</td> 
  </tr>
  <tr>
  <td>Thursday</td>
  <td>8:00 AM</td>
  <td>12:00 PM</td>
    <td>1:00 PM</td>
    <td>5:00 PM</td>
    <td>8.0</td>
  </tr>
<tr>
  <td>Friday</td>
    <td>8:00 AM</td>
    <td>12:00 PM</td>
    <td>1:00 PM</td>
    <td>5:00 PM</td>
    <td>8.0</td>
<tr>
  <td>Saturday</td>
    <td>OFF</td>
    <td>OFF</td>
    <td>OFF</td>
    <td>OFF</td>
    <td>0.0</td>
<tr>
  <td>Sunday</td>
    <td> OFF </td>
<td>OFF</td>
    <td>OFF</td>
    <td>OFF</td>
    <td>0.0</td>
</table>



