<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  
</div>
<table>
  <tr>
    <th>Day of the Week</th>
    <th>Time In</th>
    <th>Out for Lunch</th>
    <th>In from Lunch</th>
    <th>Out for the Day</th>
    <th>Hours Worked</th>  
  </tr>
  <tr>
    <td>Monday</td>
    <td><input type='text'></td>
    <td><input type='text'></td>
    <td><input type='text'></td>
    <td><input type='text'></td> 
    <td><input type='text'></td>
  </tr>
  <tr>
    <td>Tuesday</td>
    <td><input type='text'></td>
    <td><input type='text'></td>
    <td><input type='text'></td>
    <td><input type='text'></td>
     <td><input type='text'></td>
  </tr>
  <tr>
  <td>Wednesday</td>
    <td><input type='text'></td>
    <td><input type='text'></td>
    <td><input type='text'></td>
    <td><input type='text'></td>
    <td><input type='text'></td> 
  </tr>
  <tr>
  <td>Thursday</td>
  <td><input type='text'></td>
  <td><input type='text'></td>
    <td><input type='text'></td>
    <td><input type='text'></td>
    <td><input type='text'></td>
  </tr>
<tr>
  <td>Friday</td>
    <td><input type='text'></td>
    <td><input type='text'></td>
    <td><input type='text'></td>
    <td><input type='text'></td>
    <td><input type='text'></td>
<tr>
  <td>Saturday</td>
    <td><input type='text'></td>
    <td><input type='text'></td>
    <td><input type='text'></td>
    <td><input type='text'></td>
    <td><input type='text'></td>
<tr>
  <td>Sunday</td>
    <td> <input type='text'> </td>
    <td><input type='text'></td>
    <td><input type='text'></td>
    <td><input type='text'></td>
    <td><input type='text'></td>
</table>



